<div class="container">
<div class="table-responsive">
    <table class="table table-hover">
        <th><h2>Fun Practice Task List!</h2></th>
        <tr>        <input type="text" ng-model="filter.title"/>        </tr>
        <tr ng-repeat="task in taskList | orderBy:'title' | filter:filter.title">
            <td><h4>{{ task.title }}</h4> </td>
            <td><h4>{{ task.task }}</h4></td>
            <td><button class="btn btn-default btn-lg glyphicon glyphicon-remove" ng-click="deleteTask(task)"></button></td>
        </tr>
    </table> </div>    

    <form>
        <input type="text" ng-model="newTask.title"/>
        <input type="text" ng-model="newTask.task"/>

        <button type="submit" ng-click="addTask()" class="btn btn-default">Submit</button>
    </form>

</div>